# **Series**
*Estruturas unidimensionais para manipulação de dados*

> Importando as Bibliotecas NumPy e Pandas

In [1]:
import numpy as np
import pandas as pd

> Criando duas listas: Labels para os índices e minha_lista para data. A partir disso, é criado uma series utilizando pandas

In [2]:
labels = ['a', 'b', 'c']

In [3]:
minha_lista = [10, 20, 30]

In [4]:
arr = np.array([10, 20, 30])

In [5]:
d = {'a':10, 'b': 20, 'c':30}

In [6]:
pd.Series(data=minha_lista, index=labels)

a    10
b    20
c    30
dtype: int64

In [7]:
series = pd.Series(data=minha_lista, index=labels)

> Exibindo valor do índice b

In [8]:
series['b']

20

In [9]:
pd.Series(minha_lista, labels)

a    10
b    20
c    30
dtype: int64

> Criando series utilizando np.array como data

In [10]:
pd.Series(arr, labels)

a    10
b    20
c    30
dtype: int32

> Criando uma series com index de países

In [11]:
ser1 = pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'URSS', 'Japão'])

In [12]:
ser1

EUA         1
Alemanha    2
URSS        3
Japão       4
dtype: int64

In [13]:
ser2 = pd.Series([1, 2, 3, 4], index=['EUA', 'Alemanha', 'Itália', 'Japão'])

In [14]:
ser2

EUA         1
Alemanha    2
Itália      3
Japão       4
dtype: int64

> Operações entre series

In [22]:
ser1 + ser2

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64

In [23]:
ser2 + ser1

Alemanha    4.0
EUA         2.0
Itália      NaN
Japão       8.0
URSS        NaN
dtype: float64

In [17]:
ser1 * ser2

Alemanha     4.0
EUA          1.0
Itália       NaN
Japão       16.0
URSS         NaN
dtype: float64

In [18]:
(ser1 + ser2).mean()

4.666666666666667

In [19]:
ser1.max()

4

In [20]:
ser1 / ser2

Alemanha    1.0
EUA         1.0
Itália      NaN
Japão       1.0
URSS        NaN
dtype: float64