# **DataFrames**
> ## **Índices Multiníveis**
> *DataFrames com índices que possuem Multiplos indices, seja em um outro nível ou no mesmo nivel*
>

In [1]:
import numpy as np
import pandas as pd

> Definindo hier_index como uma lista utilizando as listas outside e inside, e em seguida, definindo hier_index como um multiIndex

In [2]:
outside = ['G1','G1','G1','G2','G2','G2']
inside = [1,2,3,1,2,3]
hier_index = list(zip(outside,inside))
hier_index = pd.MultiIndex.from_tuples(hier_index)

In [3]:
outside
inside
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

In [5]:
outside

['G1', 'G1', 'G1', 'G2', 'G2', 'G2']

In [6]:
inside

[1, 2, 3, 1, 2, 3]

In [7]:
hier_index

MultiIndex([('G1', 1),
            ('G1', 2),
            ('G1', 3),
            ('G2', 1),
            ('G2', 2),
            ('G2', 3)],
           )

> Atribuindo a df um DataFrame 6x2 de valores aleatorios, tendo como indice o hier_index, e com as coulnas A e B

In [9]:
df = pd.DataFrame(np.random.randn(6,2), index=hier_index, columns=['A','B'])

In [10]:
df

             A         B
G1 1 -0.928801 -0.573049
   2  1.997053  1.686782
   3 -1.077634 -0.012885
G2 1  1.617098  0.119591
   2 -1.388534  0.347012
   3  0.044579  0.039539

> Exibindo apenas o indice G1

In [12]:
df.loc['G1']

          A         B
1 -0.928801 -0.573049
2  1.997053  1.686782
3 -1.077634 -0.012885

> Exibindo apenas o indice 1, pertencente ao indice G1

In [14]:
df.loc['G1'].loc[1]

A   -0.928801
B   -0.573049
Name: 1, dtype: float64

> Nomeando os Índices

In [15]:
df.index.names = ['Grupo', 'Número']

In [16]:
df

                     A         B
Grupo Número
G1    1      -0.928801 -0.573049
      2       1.997053  1.686782
      3      -1.077634 -0.012885
G2    1       1.617098  0.119591
      2      -1.388534  0.347012
      3       0.044579  0.039539

> Retornando a seção de indice G1

In [18]:
df.xs('G1')

               A         B
Número
1      -0.928801 -0.573049
2       1.997053  1.686782
3      -1.077634 -0.012885

> Exibindo os valores de indice 1 em todas as seções

In [20]:
df.xs(1, level='Número')

              A         B
Grupo
G1    -0.928801 -0.573049
G2     1.617098  0.119591